<!-- begin of Top100 code -->

<script id="top100Counter" type="text/javascript" src="https://scounter.rambler.ru/top100.jcn?2943579"></script>
<noscript>
<a href="http://top100.rambler.ru/navi/2943579/">
<img src="https://scounter.rambler.ru/top100.cnt?2943579" alt="Rambler's Top100" border="0" />
</a>

</noscript>
<!-- end of Top100 code -->
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=33624799&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/33624799/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:33624799,lang:'ru'});return false}catch(e){}" /></a>
<!-- /Yandex.Metrika informer -->
<p></p>
<br />
<a href="//www.chipfind.ru/"><img src="//img.chipfind.ru/button/88x31_orange.gif" width=88 height=31 border=0 alt="ChipFind - поисковая система по электронным компонентам"></a>

<!-- Rating@Mail.ru logo -->
<a href="http://top.mail.ru/jump?from=2740647">
<img src="//top-fwz1.mail.ru/counter?id=2740647;t=441;l=1" 
style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
<!-- //Rating@Mail.ru logo -->